body{
    margin: 0;
    background-image: url("./main/Stars.gif");
    text-align: justify;
}

h1{
    text-align: center;
    font-size: xx-large;
    color: rgb(217, 142, 240);
}

body{
    color: rgb(217, 142, 240);
}

footer{
    text-align: center;
}

header{
    text-align: left;
}